{% load static %}

<head>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pythireum</title>

  <link rel="stylesheet" href="{% static 'crawler/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'crawler/css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'crawler/css/flag-icon.min.css' %}">


  <!-- Custom resources -->
  <script src="{% static 'crawler/js/custom.js' %}"></script>
  <link rel="stylesheet" href="{% static 'crawler/css/custom.css' %}">


  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{% static 'crawler/css/chartist.min.css' %}" />
  <link rel="stylesheet" href="{% static 'crawler/css/jquery-jvectormap.css' %}" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'crawler/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'crawler/images/favicon-32x32.png' %}">


  <!-- Plugin js for this page-->
  <script src="{% static 'crawler/js/jquery.flot.js' %}"></script>
  <script src="{% static 'crawler/js/jquery.flot.resize.js' %}"></script>
  <script src="{% static 'crawler/js/curvedLines.js' %}"></script>
  <script src="{% static 'crawler/js/off-canvas.js' %}"></script>
  <script src="{% static 'crawler/js/misc.js' %}"></script>
  <script src="{% static 'crawler/js/dashboard.js' %}"></script>
</head>